<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Alterar Carro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="icon" href="/imgs/icons8-carro-96.png" type="image/x-icon">

    <style>
        body {
            background-color: #f9f9f9;
        }
    </style>
</head>

<body class="min-h-screen flex items-center justify-center p-6 font-sans text-gray-900">

    <a href="javascript:history.back()"
        class="flex items-center gap-2 text-blue-900 hover:text-black font-medium mb-4 transition duration-300">
        <!-- Ícone de seta para esquerda -->
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor"
            class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
        </svg>
        Voltar
    </a>

    <form th:action="@{/carro/salvar}" method="post" class="bg-white p-8 rounded shadow-md w-full max-w-lg space-y-4">

        <h2 class="text-2xl font-bold text-blue-900 text-center">Alterar Carro</h2>

        <input type="hidden" name="id" th:value="${carro.id}" />

        <input type="text" name="placa" placeholder="Placa" th:value="${carro.placa}" required
            class="w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-900" />

        <input type="number" name="anofabricacao" placeholder="Fabricação" th:value="${carro.anofabricacao}" required
            class="w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-900" />

        <input type="text" name="qtdPortas" placeholder="Qtd Portas" th:value="${carro.qtdPortas}" required
            class="w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-900" />

        <input type="text" name="cor" placeholder="Cor" th:value="${carro.cor}" required
            class="w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-900" />

        <input type="text" name="consumoMedio" placeholder="Consumo médio" th:value="${carro.consumoMedio}" required
            class="w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-900" />

        <button type="submit"
            class="w-full bg-blue-900 text-white py-2 rounded hover:bg-black transition duration-300 shadow">
            Alterar
        </button>
    </form>

</body>

</html>