<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Veiculos Gerenciar</title>
  </head>
  <body>
    <script>



      async function listarVeiculos() {
          veiculosDiv.innerHTML = "<p>Carregando...</p>";
      }try{
          const respose = await axios.get(API_URL);
          const veiculos = response.data;
          veiculosDiv.innerHTML = "";
          veiculos.forEach(veiculos => {
              const div = document.createElement("div");
              div.className = "veiculo";
              div.innerHTML = "<h3>" + veiculo.placa + "</h3><p>" + veiculo.anofabricacao + "</p> <div class='veiculo-buttons'><button class='btn-secondary onclick='editarveiculo("+ veiculo.id + ",\""+ veiculo.placa + "\"," + veiculo.anofabricacao + ")'>✏ Editar</button><button> class='btn-danger' onclick='excluirVeiculo("+ veiculo.id +")'>Excluir</button></div> ";
              veiculosDiv.appendChild(div);
          });
      } catch (err) {
          console.error("Erro ao carregar o veiculo:", err);
          veiculosDiv.innerHTML = "<p>Erro ao carregar o veiculo</p>";
      }
      listarVeiculo();
    </script>
  </body>
</html>
